@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@500&display=swap");

html {
  background: #333333;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
.container {
  width: 402px;
  height: 469px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #4f4f4f;
}
.samp {
  font-size: 10px;
  color: #828282;
}
.imgTitle {
  font-size: 12px;
  color: #bdbdbd;
}
button{
  width: 101px;
  height: 31.98px;
  background: #2f80ed;
  border-radius: 8px;
  color: white;
  outline: transparent;
  border: none;
  cursor: pointer;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.035em;
  margin-top: 10px;
}
button:active {
  filter: brightness(110%);
}
.box {
  width: 338px;
  height: 218.9px;
  background: #f6f8fb;
  border: 1px dashed #97bef4;
  box-sizing: border-box;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#myInput{
  margin-right: 10px;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#imgOk{
width:35px;
height:35px;
}
#image{
  max-width :328px;
  max-height:160px;
}

@media (max-width: 450px) {
  body {
    width: 100%;
  }
  .container {
    width: 250px;
  }
  .box {
    width: 90%;
  }
  #image{
    max-width :100%;
  }
  button{
    width: 80px;
    height: 20px;
    border-radius: 4px;
  }
  #inputImage{
    width: 80%;
  }
}